<div class="home__projects">
  <div class="home__tagline">
    <section class="container">
      <h2 class="bigtext bigtext--tagline">{{ page.header.tagline }}</h2>
      <ul class="shortlist shortlist--tagline">
        {{ page.header.paragraph }}
        {% for t in 1..4 %}
        <li class="shortlist__item">Lifestyle</li>
        {% endfor %}
      </ul>
    </section>
  </div>

  <section class="container clearfix collage collage--home">

    <div class="collage__row clearfix">
      <figure class="collage__figure collage__figure--hero" style="background-image: url({{ page.media['cos-hero.jpg'].url }})">
      </figure>
    </div><!-- .collage__row -->

    <div class="collage__row clearfix">

      <div class="collage__half">
        <figure class="collage__figure collage__figure--tall" style="background-image: url({{ page.media['cos-vertical.jpg'].url }})">
        </figure>
      </div>
      <div class="collage__half">
        <figure class="collage__figure collage__figure--short" style="background-image: url({{ page.media['cos-horizontal.jpg'].url }})">
        </figure>
        <figure class="collage__figure collage__figure--short" style="background-image: url({{ page.media['cos-bottom.jpg'].url }})">
        </figure>
      </div>

    </div><!-- .collage__row -->

    <div class="collage__row clearfix">
      <figure class="collage__figure collage__figure--hero" style="background-image: url({{ page.media['lo-hero.jpg'].url }})">
      </figure>
    </div><!-- .collage__row -->

    <div class="collage__row clearfix">

      <div class="collage__half">
        <figure class="collage__figure collage__figure--short" style="background-image: url({{ page.media['fa-horizontal.jpg'].url }})">
        </figure>
        <figure class="collage__figure collage__figure--short" style="background-image: url({{ page.media['lo-horizontal.jpg'].url }})">
        </figure>
      </div>
      <div class="collage__half">
        <figure class="collage__figure collage__figure--tall" style="background-image: url({{ page.media['lo-vertical.jpg'].url }})">
        </figure>
      </div>

    </div><!-- .collage__row -->

    <div class="collage__row clearfix">
      <figure class="collage__figure collage__figure--hero" style="background-image: url({{ page.media['fa-hero.jpg'].url }})">
      </figure>
    </div><!-- .collage__row -->

    <div class="collage__row clearfix">
      <figure class="collage__figure collage__figure--hero" style="background-image: url({{ page.media['fa-vertical.jpg'].url }})">
      </figure>
    </div><!-- .collage__row -->

  </section>

<!--   <div class="home__projects__curtain">
    <a href="" role="button" class="button button--projects">More of my works</a>
  </div> -->
</div>
